body {
    text-align: center;
}

.hide {
  display: none;
}

.modal {
  background-color: rgba(0,0,0,0.4);
  height: 100%;
  left: 0;
  overflow: auto;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.modal-content {
  background-color: #fff;
  color: #000;
  margin: 15% auto;
  padding: 20px 0;
  position: relative;
  width: 40%;
}
